#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: green;
  }

.navbar {
    background-color: #2980b9;
}

.navbar-nav .nav-link {
    color: #040c0e;
}

.navbar-toggler-icon {
    background-color: #ecf0f1;
}
/* instalar a extensão css modules */
.header{
    /* font-size:2em;
    background-color: pink;
    color: white; */
    font-family: 'roboto',sans-serif;
    color: #fff;
    background-color: rgb(163,34,255);
    padding: 17px;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.linkmenu{
    text-decoration: none;
    color: #000000;
}